* {
  box-sizing: border-box;
}

body {
  color: #8f8f8f;
  background: white;
  font-family: 'lora', sans-serif;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}


/*----- ---------- -------- add shadow to h1--------*/

h1 {
  font-size: 2em;
  line-height: 1em;
  text-transform: uppercase;
  font-family: 'istok web', sans-serif;
}

.list {
    margin: auto;
    list-style: none;
    text-align: left;
    
}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}


#intro h1 {
    color: yellow;
}
.row {
  width: 100%;  
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}
.content {
  max-width: 940px;
  width: 100%;  
  margin: 0 auto;
  padding: 50px 2% 50px;
}
.main_header .row .content {}
.dark {background:#333;}

#hero {
  position: relative;
  background: url(https://images.pexels.com/photos/1005255/pexels-photo-1005255.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 20vh;
  padding-bottom: 15vh;
  min-height: 50vh;
  letter-spacing: 2px;
  font-family: "istok web", sans-serif;
}
#hero h1 {
  font-size: 2em;
  line-height: .5em;
text-align: center;
}
#hero h1 span {
  font-size: 25px;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  padding-bottom: px;
  line-height: 3;
}
.main_header {
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 10px;
  background: none;
  overflow: hidden;
  top: -100px;
  padding-bottom: 6px;
  font-family: "istok web", sans-serif;
}

@media only screen and (max-width: 766px) {
  .main_header {
    padding-top: 25px;
  }
}

.logo {
  width: 50px;
  margin: auto;
  color: yellow;
  display: inline;
  line-height: 1em;
}
@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}

/*---------------- nav ---------

@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
}
nav ul {
  list-style: none;
  overflow: hidden;
}
@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}
nav ul li {
  display: inline-block;
  margin: auto;
  line-height: 1.5;
}
@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}
nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-size: 12px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: all 500ms linear;
}
nav ul a.active {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  transition: all 500ms 100ms linear;
}


-------*/
